:root {
    --boja: red; 
    /* colors */
    --c1:#ff3e88; /*calc(var(--c1))*/
    --c2:#2b215f;  /*calc(var(--c2))*/
    --c3:#fff;     /*calc(var(--c3))*/
    --c4:#ccc;     /*calc(var(--c4))*/
    /* fontstyles */
    --f1:uppercase;    /*calc(var(--f1))*/
    --f2:sans-serif;   /*calc(var(--f2))*/
    /* sizes */
    --s0: 1px;     /*calc(var(--s0))*/
    --s1:100%;     /*calc(var(--s1))*/
    --s2:20px;     /*calc(var(--s2))*/ 
    --s3:4px;      /*calc(var(--s3))*/
    --s4:16px;     /*calc(var(--s4))*/
    --s5:8px;      /*calc(var(--s5))*/
    --s6:100vh;    /*calc(var(--s6))*/
    --s7:100vw;    /*calc(var(--s7))*/
    --s8:2%;       /*calc(var(--s8))*/
    --s9:auto;     /*calc(var(--s9))*/
    /* effects */
    --e1:.5s ease-in-out;   /*calc(var(--e1))*/
    --e2:.3s ease-in-out;   /*calc(var(--e2))*/
    /* displays */          
    --d1: block;   /*calc(var(--d1))*/
    --d2: flex;    /*calc(var(--d2))*/
    --d3: column;  /*calc(var(--d3))*/
    --d4: hidden;  /*calc(var(--d4))*/
    --d5: solid;  /*calc(var(--d5))*/
    /* numbers */
    --n1:0;        /*calc(var(--n1))*/
    --n2:1;        /*calc(var(--n2))*/
    --n3:4;        /*calc(var(--n3))*/
    --n4:10;       /*calc(var(--n4))*/
    --n5:1.5;      /*calc(var(--n5))*/
    /* positions */
    --p1:center;      /*calc(var(--p1))*/
    --p2:row wrap;    /*calc(var(--p2))*/
    --p3:flex-end;    /*calc(var(--p3))*/
    --p4:relative;    /*calc(var(--p4))*/
    --p5:absolute;    /*calc(var(--p5))*/
    
    
    }