$dark: #152c23;
$light: #e7f0eb;
$accent: #1a382a;
$white: #ffffff;
$gray-light: #ebeceb;
$gray: #767c76;
$gray-dark: #2b2d2b;

$headingsFont: 'Playfair Display', serif;
$bodyFont: 'Poppins', sans-serif;

$container-width: 1440px;
$container-padding: 20px;

$transition: 0.3s ease-in-out;
