@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-Black.ttf') format('ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-SemiBold.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
}
