*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  background: transparent;
  border: none;
}

address {
  font-style: normal;
}

textarea {
  border: none;
  outline: none;
}

main {
  position: relative;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/PlayfairDisplay-Black.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/PlayfairDisplay-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/PlayfairDisplay-SemiBold.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}
.display, .questions h2::after, .discover .h2::after, .discover .shop-top .stop-head .stophh2::after, .shop-top .stop-head .discover .stophh2::after, .discover .shop h2::after, .shop .discover h2::after, .faq-content h1::after, .contact .contact-head::after {
  font-size: 96px;
  line-height: 1;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 0;
}

.h1 {
  font-size: 60px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.h2, .shop h2, .shop-top .stop-head .stophh2 {
  font-size: 48px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.h3, .shop-top .stop-content .stopcleft .scl-box .scl-head {
  font-size: 40px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.h4, .shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-head, .shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-head {
  font-size: 32px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.h5 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.h6 {
  font-size: 24px;
  line-height: 115%;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #1a382a;
  letter-spacing: 6%;
}

.paragraph, .shop .shop-offer .offer .buyout .buyblock .price, .footer-heading {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #152c23;
  letter-spacing: 0;
}

.paragraph-lg {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #152c23;
  letter-spacing: 0;
}

.paragraph-sm, .shop .shop-offer .offer .buyout .buyblock .information, .copyright {
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #152c23;
  letter-spacing: 0;
}

.nav-text, .header li a {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: #152c23;
  letter-spacing: 20%;
  text-transform: uppercase;
}

.btn-text, .see-more, .faq-content button, .shop .plant-options .option a, .shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-foot, .shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-foot, .shop-top .stop-content .stopcleft .scl-box .scl-foot, .shop-top .stop-content .stopcleft .scl-box .scl-button span, .shop-top .stop-content .stopcleft .scl-box .scl-button {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: #152c23;
  letter-spacing: 5%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.header li a {
  padding: 12px 20px;
  transition: 0.3s ease-in-out;
}
.header li a:hover, .header li a.active {
  background-color: #e7f0eb;
}

.footer {
  background-color: #1a382a;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-top: 40px;
}

.logo-white {
  filter: brightness(100);
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer-content .footer-subsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-content .footer-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copyright {
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ffffff;
  width: 100%;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-heading {
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

.input {
  border: 1px solid #ffffff;
  padding-left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.input input {
  font-size: 16px;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}
.input button {
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contact {
  margin-top: 120px;
  margin-bottom: 120px;
}
.contact .contact-head {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
}
.contact .contact-head::after {
  left: 50%;
  transform: translateX(-50%);
  content: "Say Hi";
  position: absolute;
  top: -50%;
  color: #e7f0eb;
  z-index: -1;
}
.contact .contact-content {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.contact .info {
  grid-column: 1/4;
  background-color: #e7f0eb;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}
.contact .form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  grid-column: 4/9;
  background-color: #ffffff;
}
.contact .form input::-webkit-input-placeholder:after {
  color: red;
  content: "*";
}
.contact .form .contact-input {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background-color: #ffffff;
  border-color: #ebeceb;
}
.contact .form textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ebeceb;
  overflow: hidden;
  resize: none;
  min-height: 160px;
}
.contact .form button {
  color: #ffffff;
  background-color: #1a382a;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.contact .footer-heading {
  color: #152c23;
}

.pothos {
  position: fixed;
  z-index: 2;
}

.ficus {
  position: absolute;
  right: 0;
  bottom: -120px;
  height: calc(100vh - 350px);
  background-color: #1a382a;
  width: 440px;
  border-top-left-radius: 42%;
  border-top-right-radius: 42%;
}
.ficus img {
  position: absolute;
  bottom: 0;
  max-height: calc(100vh - 200px);
}

.shop-top {
  margin: 180px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
}
.shop-top .stop-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.shop-top .stop-head .stophh2 {
  font-weight: 700;
}
.shop-top .stop-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 420px;
}
.shop-top .stop-content .stopcleft {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 100%;
  padding-top: 48px;
  padding-left: 48px;
  background-color: #ead9cf;
  border-radius: 24px;
}
.shop-top .stop-content .stopcleft .scl-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-top: 10px;
  width: 30%;
}
.shop-top .stop-content .stopcleft .scl-box .scl-button {
  font-weight: 500;
  padding: 8px 12px 8px 12px;
  background-color: #e7f0eb;
  border-radius: 16px;
  color: #152c23;
}
.shop-top .stop-content .stopcleft .scl-box .scl-button span {
  font-weight: 700;
}
.shop-top .stop-content .stopcleft .scl-box .scl-head {
  font-weight: 700;
  color: #1a382a;
}
.shop-top .stop-content .stopcleft .scl-box .scl-foot {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}
.shop-top .stop-content .stopcright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.shop-top .stop-content .stopcright .scrframe1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 50%;
  width: 100%;
  background-color: #ebeceb;
  border-radius: 24px;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-head {
  font-weight: 700;
  color: #1a382a;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-foot {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}
.shop-top .stop-content .stopcright .scrframe2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 50%;
  background-color: #1a382a;
  border-radius: 24px;
  padding-top: 16px;
  padding-right: 56px;
  padding-left: 40px;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-top: 24px;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-head {
  font-weight: 700;
  color: #e7f0eb;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-foot {
  font-weight: 500;
  color: #e7f0eb;
  text-transform: uppercase;
  text-decoration: underline;
}

.shop {
  margin-bottom: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
}
.shop h2 {
  font-weight: 700;
}
.shop .plant-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.shop .plant-options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80px;
  height: 80px;
  background-color: #e7f0eb;
  border-radius: 50%;
}
.shop .plant-options .option a {
  font-weight: 600;
  color: #1a382a;
  text-transform: uppercase;
}
.shop .shop-offer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-flow: row wrap;
  width: 100%;
}
.shop .shop-offer .offer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #ebeceb;
  border-radius: 20px;
}
.shop .shop-offer .offer .buyout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.shop .shop-offer .offer .buyout .buyblock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}
.shop .shop-offer .offer .buyout .buyblock .information {
  font-weight: 500;
  color: #1a382a;
}
.shop .shop-offer .offer .buyout .buyblock .price {
  font-weight: 700;
  color: #1a382a;
}
.shop .shop-offer .offer .buyout .green-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #152c23;
}
.shop .shop-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}

.see-more, .faq-content button {
  background-color: #1a382a;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
}

.big {
  width: 335px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  height: 100vh;
}
.hero .hero-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  padding-bottom: 96px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 45%;
  border-top-left-radius: 152px;
  border-bottom-left-radius: 152px;
  background-color: #e7f0eb;
}
.hero .hero-background .floating-card {
  width: 100px;
  height: 100px;
  background-color: red;
}
.hero .hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  width: 35%;
}
.hero .hero-image {
  position: relative;
}

.faq {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-top: 180px;
  padding-bottom: 180px;
}

.faq-content {
  grid-column: 1/8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}
.faq-content h1 {
  position: relative;
  max-width: 70%;
}
.faq-content h1::after {
  left: 0;
  content: "In Search of Answers?";
  position: absolute;
  top: -50%;
  color: #e7f0eb;
  z-index: -1;
  width: -moz-max-content;
  width: max-content;
}
.faq-image {
  grid-column: 9/13;
  position: relative;
}
.faq-image::before {
  content: "";
  width: 450px;
  height: 450px;
  background-color: #1a382a;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.faq-image img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.discover {
  padding-top: 180px;
  padding-bottom: 180px;
}
.discover .h2, .discover .shop-top .stop-head .stophh2, .shop-top .stop-head .discover .stophh2, .discover .shop h2, .shop .discover h2 {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}
.discover .h2::after, .discover .shop-top .stop-head .stophh2::after, .shop-top .stop-head .discover .stophh2::after, .discover .shop h2::after, .shop .discover h2::after {
  left: 0;
  content: "Plant Perks";
  position: absolute;
  top: -50%;
  color: #e7f0eb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.discover .chat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.discover .chat .chatbox {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.discover .chat .chatbox .front,
.discover .chat .chatbox .back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #e7f0eb;
  position: absolute;
}
.discover .chat .chatbox .back {
  opacity: 0;
  background-color: #1a382a;
  color: #ffffff;
}
.discover .chat .chatbox:hover .front {
  opacity: 0;
}
.discover .chat .chatbox:hover .back {
  opacity: 1;
}

.questions h2 {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}
.questions h2::after {
  left: 0;
  content: "Plant Perks";
  position: absolute;
  top: -50%;
  color: #e7f0eb;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.questions .accordions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.questions .accordions details {
  padding: 24px;
  border: 1px solid #ebeceb;
  border-radius: 16px;
  width: calc(50% - 10px);
}
.questions .accordions details summary {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.questions .accordions details summary::after {
  content: url("../../assets/icons/Vector.svg");
}
.questions .accordions details summary .accordion-content {
  margin-top: 24px;
}
.questions .accordions .accordion[open] > summary:first-of-type,
.questions .accordions .accordion > summary:first-of-type {
  list-style-type: none;
}
.questions .accordions .accordion[open] > summary::after {
  transform: rotate(90deg);
}
.questions .accordions .accordion[open] > summary ~ * {
  animation: opacity 0.5s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shop-top {
  margin: 180px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
}
.shop-top .stop-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.shop-top .stop-head .stophh2 {
  font-weight: 700;
}
.shop-top .stop-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 420px;
}
.shop-top .stop-content .stopcleft {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 100%;
  padding-top: 48px;
  padding-left: 48px;
  background-color: #ead9cf;
  border-radius: 24px;
}
.shop-top .stop-content .stopcleft .scl-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-top: 10px;
  width: 30%;
}
.shop-top .stop-content .stopcleft .scl-box .scl-button {
  font-weight: 500;
  padding: 8px 12px 8px 12px;
  background-color: #e7f0eb;
  border-radius: 16px;
  color: #152c23;
}
.shop-top .stop-content .stopcleft .scl-box .scl-button span {
  font-weight: 700;
}
.shop-top .stop-content .stopcleft .scl-box .scl-head {
  font-weight: 700;
  color: #1a382a;
}
.shop-top .stop-content .stopcleft .scl-box .scl-foot {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}
.shop-top .stop-content .stopcright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.shop-top .stop-content .stopcright .scrframe1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  height: 50%;
  width: 100%;
  background-color: #ebeceb;
  border-radius: 24px;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-head {
  font-weight: 700;
  color: #1a382a;
}
.shop-top .stop-content .stopcright .scrframe1 .scrbox1 .scr-foot {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}
.shop-top .stop-content .stopcright .scrframe2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 50%;
  background-color: #1a382a;
  border-radius: 24px;
  padding-top: 16px;
  padding-right: 56px;
  padding-left: 40px;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  padding-top: 24px;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-head {
  font-weight: 700;
  color: #e7f0eb;
}
.shop-top .stop-content .stopcright .scrframe2 .scrbox2 .scr-foot {
  font-weight: 500;
  color: #e7f0eb;
  text-transform: uppercase;
  text-decoration: underline;
}

.shop {
  margin-bottom: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
}
.shop h2 {
  font-weight: 700;
}
.shop .plant-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.shop .plant-options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80px;
  height: 80px;
  background-color: #e7f0eb;
  border-radius: 50%;
}
.shop .plant-options .option a {
  font-weight: 600;
  color: #1a382a;
  text-transform: uppercase;
}
.shop .shop-offer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-flow: row wrap;
  width: 100%;
}
.shop .shop-offer .offer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #ebeceb;
  border-radius: 20px;
}
.shop .shop-offer .offer .buyout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.shop .shop-offer .offer .buyout .buyblock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}
.shop .shop-offer .offer .buyout .buyblock .information {
  font-weight: 500;
  color: #1a382a;
}
.shop .shop-offer .offer .buyout .buyblock .price {
  font-weight: 700;
  color: #1a382a;
}
.shop .shop-offer .offer .buyout .green-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #152c23;
}
.shop .shop-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}

.see-more, .faq-content button {
  background-color: #1a382a;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
}

.big {
  width: 335px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  height: 100vh;
}
.hero .hero-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  padding-bottom: 96px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 45%;
  border-top-left-radius: 152px;
  border-bottom-left-radius: 152px;
  background-color: #e7f0eb;
}
.hero .hero-background .floating-card {
  width: 100px;
  height: 100px;
  background-color: red;
}
.hero .hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  width: 35%;
}
.hero .hero-image {
  position: relative;
}