* {
    margin: var(--n1);
    padding: var(--n1);
    box-sizing: border-box;
}



body {
    font-family: var(--f2);
}
.wrapper-container{
    width:100vw;
    display:flex;
    justify-content: center;
    
}

.container{   
    width:72%;
    height: var(--s6);
    align-items:var(--p1);
    /* justify-content:var(--p1); */
    display:var(--d2);
    gap: var(--s4);
    /* padding: var(--n1) calc(var(--s8)*7); */
}
/* .carda{ */
    /* display:var(--d2); */
    /* justify-content: var(--p1); */
/* } */
.cardb{
    /* max-width: 56%; */
    display:var(--d2);
    flex-flow: var(--p2);
    justify-content:var(--p1);
    gap: var(--s5);
}
.card1 {
    width: calc(var(--s2) * 15);
    aspect-ratio: calc(var(--n2) / var(--n5));
    border: var(--s0) var(--d5) var(--c4);
    position: var(--p4);
    display: var(--d2);
    flex-direction:var(--d3) ;
    justify-content: var(--p3);
    padding: var(--s2) var(--s2) var(--n1) var(--s2);
    gap: var(--s2);
    overflow: var(--d4);
}

.card1::after {
    content: '';
    width: var(--s1);
    height: var(--n1);
    background: var(--c2);
    transition: var(--e1);
    position: var(--p5);
    top: var(--n1);
    left:var(--n1);
    z-index: calc(0 - var(--n2));
}

.card1:hover::after {
    height:var(--s1);
}

.card1 .title {
    font-size: calc(var(--s3) * 6);
    text-transform: var(--f1);
    font-weight: calc(var(--n4) * 60);
    color: var(--c2);
    & span {
        color: var(--c1);
        display: var(--d1);
    }
}

.card1:hover .title {
    color: var(--c3);
}

.card1 .content {
    color: var(--c3);
    font-size: calc(var(--s3) * 4);
    transition: var(--e1);
    transform: translateY(calc(var(--s2) * 4));
    height: var(--n1);
    }


.card1:hover .content {
    font-size: calc(var(--s3) * 4);
    transform: translateY(var(--n1));
    padding-bottom:var(--s2);
    height: var(--s9);
}

.card1 svg {
    width:calc(var(--s2) * 4);
    transition: var(--e2);    
}

svg path {
    fill: var(--c3);
    stroke: var(--c2);
    transition: var(--e2);
}

.card1:hover svg path {
    fill: var(--c2);
    stroke: var(--c1);
}

.card1:hover svg {
    align-self: var(--p1);
    transform: scale(var(--n5)) translateY(calc(var(--s2) * -2 ))
}