.contact {
  margin-top: 120px;
  margin-bottom: 120px;
  .contact-head {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 80px;
    &::after {
      left: 50%;
      transform: translateX(-50%);
      @include ptitel("Say Hi");
    }
  }
  .contact-content {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
  .info {
    grid-column: 1/4;
    background-color: $light;
    padding: 40px;
    @include flexbox(flex, flex-start, flex-start, 40px);
    flex-direction: column;
  }
  .form {
    @include flexbox(flex, center, center, 20px);
    flex-direction: column;
    grid-column: 4/9;
    background-color: $white;
    input::-webkit-input-placeholder:after {
      color: red;
      content: "*";
    }
    .contact-input {
      @include padding-y(12px);
      width: 100%;
      background-color: $white;
      border-color: $gray-light;
    }
    textarea {
      width: 100%;
      padding: 12px 20px;
      border: 1px solid $gray-light;
      overflow: hidden;
      resize: none;
      min-height: 160px;
    }
    button {
      color: $white;
      background-color: $accent;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  }
  .footer-heading {
    color: $dark;
  }
}
.pothos {
  position: fixed;
  z-index: 2;
}
.ficus {
  position: absolute;
  right: 0;
  bottom: -120px;
  height: calc(100vh - 350px);
  background-color: $accent;
  width: 440px;
  border-top-left-radius: 42%;
  border-top-right-radius: 42%;
  img {
    position: absolute;
    bottom: 0;
    max-height: calc(100vh - 200px);
  }
}
