.shop-top {
  margin: 180px auto;
  @include flexbox(flex, flex-start, flex-start, 80px);
  flex-direction: column;
  .stop-head {
    @include flexbox(flex, center, flex-start);
    width: 100%;
    .stophh2 {
      @extend .h2;
      font-weight: 700;
    }
  }
  .stop-content {
    @include flexbox(flex, flex-start, flex-start, 20px);
    width: 100%;
    height: 420px;
    .stopcleft {
      @include flexbox(flex, space-between, flex-start);
      height: 100%;
      padding-top: 48px;
      padding-left: 48px;
      background-color: $pink;
      border-radius: 24px;
      .scl-box {
        @include flexbox(flex, flex-start, flex-start, 40px);
        flex-direction: column;
        padding-top: 10px;
        width: 30%;
        .scl-button {
          @extend .btn-text;
          font-weight: 500;
          padding: 8px 12px 8px 12px;
          background-color: $light;
          border-radius: 16px;
          color: $dark;
          span {
            @extend .btn-text;
            font-weight: 700;
          }
        }
        .scl-head {
          @extend .h3;
          font-weight: 700;
          color: $accent;
        }
        .scl-foot {
          @extend .btn-text;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    .stopcright {
      @include flexbox(flex, flex-start, flex-start, 20px);
      flex-direction: column;
      height: 100%;
      width: 50%;
      .scrframe1 {
        @include flexbox(flex, space-between, flex-start);
        height: 50%;
        width: 100%;
        background-color: $gray-light;
        border-radius: 24px;
        .scrbox1 {
          @include flexbox(flex, flex-start, flex-start, 40px);
          flex-direction: column;
          padding-left: 40px;
          padding-top: 40px;
          .scr-head {
            @extend .h4;
            font-weight: 700;
            color: $accent;
          }
          .scr-foot {
            @extend .btn-text;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
      }
      .scrframe2 {
        @include flexbox(flex, space-between, flex-start);
        width: 100%;
        height: 50%;
        background-color: $accent;
        border-radius: 24px;
        padding-top: 16px;
        padding-right: 56px;
        padding-left: 40px;

        .scrbox2 {
          @include flexbox(flex, flex-start, flex-start, 40px);
          flex-direction: column;
          padding-top: 24px;
          .scr-head {
            @extend .h4;
            font-weight: 700;
            color: $light;
          }
          .scr-foot {
            @extend .btn-text;
            font-weight: 500;
            color: $light;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.shop {
  margin-bottom: 180px;
  @include flexbox(flex, flex-start, flex-start, 80px);
  flex-direction: column;
  h2 {
    @extend .h2;
    font-weight: 700;
  }
  .plant-options {
    @include flexbox(flex, center, center, 40px);
    .option {
      @include flexbox(flex, center, center);
      width: 80px;
      height: 80px;
      background-color: $light;
      border-radius: 50%;
      a {
        @extend .btn-text;
        font-weight: 600;
        color: $accent;
        text-transform: uppercase;
      }
    }
  }
  .shop-offer {
    @include flexbox(flex, flex-start, flex-start, 20px);
    flex-flow: row wrap;
    width: 100%;
    .offer {
      @include flexbox(flex, flex-start, center, 8px);
      flex-direction: column;
      padding: 24px;
      border: 1px solid $gray-light;
      border-radius: 20px;
      .buyout {
        @include flexbox(flex, space-between, flex-start);
        width: 100%;
        .buyblock {
          @include flexbox(flex, flex-start, flex-start, 8px);
          flex-direction: column;
          .information {
            @extend .paragraph-sm;
            font-weight: 500;
            color: $accent;
          }
          .price {
            @extend .paragraph;
            font-weight: 700;
            color: $accent;
          }
        }
        .green-btn {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: $dark;
        }
      }
    }
  }
  .shop-btn {
    @include flexbox(flex, center, flex-start);
    width: 100%;
  }
}
.see-more {
  @extend .btn-text;
  background-color: $accent;
  color: $white;
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
}
.big {
  width: 335px;
}

.hero {
  @include flexbox(flex, flex-start, center);
  height: 100vh;
  .hero-background {
    @include flexbox(flex, center, flex-end);
    padding-bottom: 96px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 45%;
    border-top-left-radius: 152px;
    border-bottom-left-radius: 152px;
    background-color: $light;
    .floating-card {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      width: 100px;
      height: 100px;
      background-color: red;
    }
  }
  .hero-text {
    @include flexbox(flex, flex-start, flex-start, 40px);
    flex-direction: column;
    width: 35%;
  }
  .hero-image {
    position: relative;
    // .floating-card {
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 100px;
    //   height: 100px;
    //   background-color: red;
    // }
  }
}
